
/*This is for brand logo*/
a:not([href]):not([tabindex]) {
    color: #fff;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    

}

.nav-link {
    margin-right: 20px;
}


.btn {
    background-color: orange;
}

/* bottom navbar settings */
.navbar-collapse {
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    font-size: medium;

}

a.nav-link:hover {
    background-color: orange;
}

/* **********************END of NAViga BAR************* */

/* ********************Table section****************** */

.table-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.table-heading {
    display: inline-block;
}

.open-button {
    float: right;
    margin-right: 0;
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px;
}

button.open-button:hover {
    background-color: orange;
}

/* ******************** TOP FOOTER SECTION***************************** */

.page-footer {
    margin-top: 30px;
}
.top-footer {
    color: #fff;
}
.bottom-footer {
    background-color: black;
    color: #fff;
    opacity: 0.1rem;
}

.footer-link {
    color: orange;
    text-decoration: underline;
}

a.footer-link:hover {
    background-color: orangered;
}

/* ******************** BOTTOM FOOTER SECTION***************************** */

/* this is for table style wehen we move cursor to them */
tr {

    transition: all 0.25s ease-in-out;
}

tr:hover {
    background-color: gray;
    cursor: pointer;
}